*.pyc
__pycache__/
venv/
.env
db.sqlite3
node_modules/
data/

# Don't add tailwind output in git as it is generated though input.css
static/css/tailwind/output.css

media/

# Celery beat
dump.rdb
celerybeat-schedule.db
celerybeat-schedule
