{% extends 'base.html' %}
{% load static %}
{% block title %}SlashPing - Dashboard{% endblock title %}
{% block bodyOpeningTag %}<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="bg-base-200/80 min-h-screen">{% endblock bodyOpeningTag %}

{% block content %}
    <!-- Toasts -->
    {% for message in messages %}
    <div class="toast">
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-error text-primary-content{% endif %}">
            <span>{{message}}</span>
            <i data-toast="close" class="cursor-pointer bi-x-lg font-bold"></i>
        </div>
    </div>
    {% endfor %}

    <!-- Navbar -->
    <div class="bg-primary text-primary-content shadow-sm">
        <div class="navbar mx-auto container">
            <div class="navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 text-base-content rounded-box z-1 mt-3 w-52 p-2 shadow">
                        <li><a href="{% url 'customers' %}" class="{% if '/customers/' in request.path  %}menu-active{% endif %}">Customers</a></li>
                        <li><a href="{% url 'reminder' %}" class="{% if request.path == '/reminder/'  %}menu-active{% endif %}">Reminder</a></li>
                    </ul>
                </div>
                <a href="{% url 'home' %}" class="btn btn-primary text-xl">SlashPing</a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1 space-x-1.5">
                    <li><a href="{% url 'customers' %}" class="{% if '/customers/' in request.path  %}menu-active{% endif %}">Customers</a></li>
                    <li><a href="{% url 'reminder' %}" class="{% if request.path == '/reminder/'  %}menu-active{% endif %}">Reminder</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button"
                        class="btn btn-link text-base-300 cursor-pointer flex items-center -space-x-1">
                        <div class="w-10 rounded-full">
                            <img alt="Profile Pic"
                                src="{% if request.user.profile_image %}{{request.user.profile_image.url}}{% else %}{% static 'images/default_profile_pic.png' %}{% endif %}"
                                class="btn-circle" />
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down-icon lucide-chevron-down">
                            <path d="m6 9 6 6 6-6" />
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 text-base-content rounded-box z-1 mt-3 w-36 p-2 shadow">
                        <li><a href="{% url 'profile_page' %}">Your Profile</a></li>
                        <li><a href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}