{% extends 'dashboard/base.html' %}
{% load partials %}

{% block content %}
    {{block.super}}

    <!-- Header -->
    <header class="bg-base-100 py-5 shadow">
        <div class="container mx-auto px-2">
            <div class="flex justify-between items-center">
                <h1 class="text-3xl font-bold">Customers</h1>
                <button class="btn btn-primary" onclick="add_client_modal.showModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-plus-icon lucide-plus">
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                    </svg>
                    Add Client
                </button>
            </div>
        </div>
    </header>

    <!-- Main content -->
    <main class="py-5 container mx-auto px-2">
        <!-- Tabs -->
        <div class="flex flex-col justify-between items-end md:items-center md:flex-row gap-2">
            <div role="tablist" class="tabs tabs-box bg-white/30">
                <a href="{% url 'customers' %}?tab={{CustomerTabs.PENDING_TODAY.value}}" role="tab" class="tab{% if tab.value == CustomerTabs.PENDING_TODAY.value %} tab-active{% endif %}">Pending Today (31)</a>
                <a href="{% url 'customers' %}?tab={{CustomerTabs.PENDING_TOMORROW.value}}" role="tab" class="tab{% if tab.value == CustomerTabs.PENDING_TOMORROW.value %} tab-active{% endif %}">Pending Tomorrow (11)</a>
                <a href="{% url 'customers' %}?tab={{CustomerTabs.ALL_CLIENTS.value}}" role="tab" class="tab{% if tab.value == CustomerTabs.ALL_CLIENTS.value %} tab-active{% endif %}">All Clients (100)</a>
            </div>

            <button class="btn btn-ghost" onclick="reminder_settings_modal.showModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-settings-icon lucide-settings">
                    <path
                        d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z" />
                    <circle cx="12" cy="12" r="3" />
                </svg>
                Settings
            </button>
        </div>

        <!-- Tab Content -->
        <div class="overflow-x-auto border border-base-content/5 bg-base-100/80 rounded-md my-5">
            <table class="table">
                <!-- head -->
                <thead>
                    <tr class="bg-secondary text-secondary-content">
                        <th>#</th>
                        <th>Client name</th>
                        <th>Pinged today?</th>
                        <th>Note</th>
                        <th>Reminder frequency</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-base-200/50">
                        <th>1</th>
                        <td><a href="" class="link flex">Sandip Sadhukhan <i class="bi-box-arrow-up-right ml-1"></i>
                        <td class="bg-success/5">
                            <button class="btn btn-sm btn-accent">Ping now</button>
                            <p class="text-sm text-base-content/50">(last pinged at 24Nov)</p>
                        </td>
                        <td>She has a agency called Axonos etc.</td>
                        <td>Every 7 days</td>
                        <td><button class="btn btn-ghost btn-sm" onclick="add_client_modal.showModal()"><i class="bi-three-dots text-xl"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <!-- Modals -->
    <dialog id="reminder_settings_modal" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold">When do you want to receive the reminder email?</h3>
            {% partialdef reminder-settings-form inline %}
                <form id="reminder_settings_form" hx-post="{% url 'save_customer_mail_time' %}" method="post" hx-target="body" hx-swap="beforeend">
                    {% csrf_token %}
                    <fieldset class="fieldset my-5 max-w-xl">
                        <legend class="fieldset-legend text-md">Time in IST:</legend>
                        <div class="flex space-x-2 items-center justify-start">
                            <input name="hour" type="number" class="input w-20" value="{{reminder_email_time_form.hour.value}}" min="0" max="23" required>
                            <span class="font-medium text-xl">:</span>
                            <select name="minute" class="select w-20">
                                <option {% if reminder_email_time_form.minute.value == 0 %}selected{% endif %}>0</option>
                                <option {% if reminder_email_time_form.minute.value == 30 %}selected{% endif %}>30</option>
                            </select>
                        </div>
                        {% if reminder_email_time_form.errors %}
                            {% for key, errors in reminder_email_time_form.errors.items %}
                                <p class="fieldset-label text-error">{{errors|join:","}}</p>
                            {% endfor %}
                        {% endif %}
                    </fieldset>

                    <div class="flex justify-end space-x-2">
                        <button type="button" class="btn" onclick="reminder_settings_modal.close()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            {% endpartialdef reminder-settings-form %}
        </div>
    </dialog>

    <dialog id="add_client_modal" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold">Add Client</h3>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Name</legend>
                <input type="text" class="input w-full" placeholder="Enter client name..." />
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Contact link</legend>
                <input type="url" class="input w-full" placeholder="Enter url to connect with client" />
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Note(Optional)</legend>
                <textarea class="textarea w-full"></textarea>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Remind me after how many days?</legend>
                <select class="select w-full">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </fieldset>

            <div class="flex justify-end space-x-2 mt-3">
                <button class="btn btn-error text-primary-content" onclick="add_client_modal.close()">Delete</button>
                <button class="btn" onclick="add_client_modal.close()">Cancel</button>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </dialog>

{% endblock content %}

{% block js %}
<script>
    document.body.addEventListener("htmx:load", function(event) {
        const reminderForm = event.target.matches("#reminder_settings_form") ?
            event.target : event.target.querySelector("#reminder_settings_form");

        // Close reminder settings modal after successfully saved
        reminderForm
            ?.addEventListener("htmx:afterRequest", function(event) {
                const formError = event.detail.xhr.getResponseHeader('DATA-Form-Error');

                if (!formError) {
                    reminder_settings_modal.close();
                    reminderForm.querySelectorAll('.text-error').forEach(el => el.remove());
                }
            });
    })
</script>
{% endblock %}