{% extends 'dashboard/base.html' %}

{% block content %}
    {{block.super}}

    <!-- Header -->
    <header class="bg-base-100 py-5 shadow">
        <div class="container mx-auto px-2">
            <div class="flex justify-between items-center">
                <h1 class="text-3xl font-bold">Reminder</h1>
            </div>
        </div>
    </header>

    <!-- Main content -->
    <main class="py-5 container mx-auto px-2 flex flex-col space-y-3 items-start">
        <div class="text-xl">
            I have target of connecting with 
            <input type="number" step="1" class="input w-15"> new clients in 
            <input type="number" step="1" class="input w-15">
             days.
        </div>
        <button class="btn btn-success">Save</button>

        <div class="text-xl my-5">
            <b>12</b> pending clients. 
            <button class="btn btn-sm">Reset counter</button>
        </div>
    </main>

{% endblock content %}