{% extends 'dashboard/base.html' %}

{% block content %}
    {{block.super}}

    <!-- Header -->
    <header class="bg-base-100 py-5 shadow">
        <div class="container mx-auto px-2">
            <div class="flex justify-between items-center">
                <h1 class="text-3xl font-bold">Reminder</h1>
            </div>
        </div>
    </header>

    <!-- Main content -->
    <main class="py-5 container mx-auto px-2">
        <form class="flex flex-col space-y-3 items-start" action="{% url 'reminder' %}" method="post">
            {% csrf_token %}
            <div class="text-xl">
                I have target of connecting with 
                <input name="new_client_target" type="number" step="1" class="input w-15" value="{{request.user.new_client_target}}" required> new clients in 
                <input name="new_client_in_days" type="number" step="1" class="input w-15" value="{{request.user.new_client_in_days}}" required>
                days.
            </div>
            {% if form.errors %}
                <div class="alert alert-error">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <button class="btn btn-success" type="submit">Save</button>

            <div class="text-xl my-5">
                <b>{{request.user.pending_clients}}</b> pending client{% if request.user.pending_clients > 1 %}s{% endif %}. 
                <button hx-post="{% url 'reset_pending_counts' %}" class="btn btn-sm">Reset counter</button>
            </div>
        </form>
    </main>

{% endblock content %}